{{ define "main" }}
<h1 class="centered">{{ .Title }}</h1>
<section id="content">
  {{ .Content }}
</section>
<section id="articles">
  {{ range (.Paginator 5).Pages }}
  <article>
    <div class="article-preview">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      <small class="metadata">By {{ .Params.Author }} | <time datetime="{{ .Date }}">{{ .Date | time.Format
          ":date_medium" }}</time></small>
      {{ .Summary }}
    </div>
    {{ with .Resources.Get .Params.thumbnail }}
    <img src="{{ .Permalink }}">
    {{ end }}
  </article>
  {{ end }}
</section>
{{ template "_internal/pagination.html" . }}
{{ end }}
